<div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="p-6">
        <h2 class="text-2xl font-bold">{{ title }}</h2>

        <div class="max-w-md my-6">
            <div class="text-2xl font-bold">Sadržaj</div>
            <div class="py-4 text-base text-gray-700 sm:text-lg">
                <ol class="list-decimal list-inside space-y-2">
                    {{ toc field="content" depth="3" }}
                        <li>
                            <a class="font-bold text-cyan-800" href="#{{ toc_id }}">{{ toc_title }}</a>
                        </li>
                    {{ /toc }}
                </ol>
            </div>
        </div>

        <div class="prose max-w-none">
            {{ content | toc }}
        </div>
    </div>
</div>
